<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:2%">
    <a class="navbar-brand" href="{% url 'landing' %}">Home</a>
    {% if not request.user.is_authenticated %}
        <a style="padding: 10px" href="{% url 'furniture' %}">All furniture</a>&nbsp&nbsp&nbsp&nbsp
        <a style="color: darkslategrey; padding: 10px; background:gainsboro;border-radius: 15px; font-weight:bold; text-decoration:underline; text-decoration-color:dimgray;"
           class="nav-link" href="{% url 'login' %}">Login</a><br>
    {% else %}
        <div>
            <a style="padding: 10px" href="{% url 'furniture' %}">All furniture</a>
            <a style="padding: 10px" href="{% url 'create' %}">Create furniture</a>
            <a style="padding: 10px" href="{% url 'user-furniture' %}">My furniture</a>
        </div>
        <a href="{% url 'user profile' %}"
           style="color: darkgreen; padding: 10px; background:aquamarine;border-radius: 15px; font-weight:bold; text-decoration:underline; text-decoration-color:lightcoral;">{{ user }}</a>
    {% endif %}
</nav>
