# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Obshta-Office\Python\SoftUni\My resources\PythonWebFramework\Moq proekt\OTDELENI onezi ne6ta koito se tarsqt\furniture_discount\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
